@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --green: #8ac926;
  --red: #ff595e;
  --bg-dark: #252422;
  --bg-light: #fffcf2;
  --text-dark: #f4f3ee;
  --text-light: #353535;
  --link-blue: #3a86ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-light);
  color: var(--text-light);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-dark);
    color: var(--text-dark);
  }
}
